.main-footer {
    opacity: 50%;
    transition: opacity 1s ease-in-out;
}

.main-footer:hover {
    opacity: 1;
}

.top-left {
    position: absolute;
    right: 0;
    top: 0;
}

#popupquitorreset {
    display: none;
}

.container-title {
    margin-right: 50px;
}

.margin-right {
    margin-right: 25px;
}
